<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Danh mục sản phẩm</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!--- household -->
<div class="products">
    <div class="container">
        <h2>Bánh Gạo Thái Lan</h2>
        <div class="col-md-12 products-right">
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <!-- <img src="images/hethang.png" alt=" " class="img-responsive img-sold-out" /> -->
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/1"><img class="img-responsive img-product" title=" " alt=" " src="/images/BANH GAO VI GA.jpg" /></a>
                                        <p class="name_product">Bánh gạo vị gà</p>
                                        <h4>20000<span></span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('1', 'Bánh gạo vị gà', 20000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/2"><img title=" " alt=" " src="/images/BANH GAO VI PHO MAI.jpg" class="img-responsive img-product"/></a>
                                        <p class="name_product">Bánh gạo vị phô mai</p>
                                        <h4>20000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('2', 'Bánh gạo vị phô mai', 20000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/2"><img src="/images/BANH GAO VI RONG BIEN.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Bánh gạo vị rong biển</p>
                                        <h4>20000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('3', 'Bánh gạo vị rong biển', 20000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <nav class="numbering">
            <ul class="pagination paging">
                <li>
                    <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                </li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                </li>
            </ul>
        </nav> -->
        <div class="clearfix"> </div>
    </div>
</div>