<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Liên hệ</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- contact -->
<div class="about">
    <div class="w3_agileits_contact_grids">
        <div class="col-md-6 w3_agileits_contact_grid_left">
            <div class="agile_map">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=%20233%2F49%2F10%20T%C3%A2n%20Th%E1%BB%9Bi%20Hi%E1%BB%87p%207%2C%20T%C3%A2n%20Th%E1%BB%9Bi%20Hi%E1%BB%87p%2C%20Ho%20Chi%20Minh%20City%2C%20H%E1%BB%93%20Ch%C3%AD%20Minh%2C%20Vi%E1%BB%87t%20Nam&key=AIzaSyCgd_xu94lr1N3aso65NZG7XCWYWh5U9yI" style="border:0"></iframe>
            </div>
        </div>
        <div class="col-md-6 w3_agileits_contact_grid_right">
            <h2 class="w3_agile_header">ĐỂ LẠI TIN NHẮN</span></h2>
            <form action="/feedback" method="post">
                <div class="form-group">
                    <label for="name">Tên:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <textarea name="body" placeholder="Nhập văn bản..." required=""></textarea>
                </div>
                <input type="submit" value="Xác nhận">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>