<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Danh mục sản phẩm</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!--- household -->
<div class="products">
    <div class="container">
        <h2>Nước Ép Malaysia</h2>
        <div class="col-md-12 products-right">
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <!-- <img src="images/hethang.png" alt=" " class="img-responsive img-sold-out" /> -->
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/4"><img class="/img-responsive img-product" title=" " alt=" " src="images/blackcurrant juice_02-10.jpg" /></a>
                                        <p class="name_product">Nước Trái Cây Phúc Bồn Tử Blackcurrant Juice</p>
                                        <h4>22000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('4', 'Nước Trái Cây Phúc Bồn Tử Blackcurrant Juice', 22000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/5"><img title=" " alt=" " src="/images/blackcurrant juice_02-07.jpg" class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Trái Cây Táo Apple Juice</p>
                                        <h4>22000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('5', 'Nước Trái Cây Táo Apple Juice', 22000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            
                        </div>
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="images/offer.png" alt=" " class="img-responsive">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/6"><img src="/images/blackcurrant juice_02-03.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Trái Cây Lựu Pomerganate Juice</p>
                                        <h4>22000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('6', 'Nước Trái Cây Lựu Pomerganate Juice', 22000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/7"><img src="/images/D_Origina_blacktea_lemon_260516_06.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Trái Cây Lựu & Trà Xanh Green Tea with Pomerganate Juice</p>
                                        <h4>17000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('7', 'Nước Trái Cây Lựu & Trà Xanh Green Tea with Pomerganate Juice', 17000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/8"><img src="/images/D_Origina_blacktea_lemon_260516_09.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Trái Cây Đào & Trà Xanh Green Tea with Peach Juice</p>
                                        <h4>17000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('8', 'Nước Trái Cây Đào & Trà Xanh Green Tea with Peach Juice', 17000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">

                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/9"><img src="/images/D_Origina_blacktea_lemon_260516_04.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Chanh & Trà Đen Black Tea with Lemon Juice</p>
                                        <h4>17000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('9', 'Nước Chanh & Trà Đen Black Tea with Lemon Juice', 17000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/10"><img src="/images/D_Origina_blacktea_lemon_260516_11.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Trái Cây Táo & Trà Đen Black Tea with Lemon Juice</p>
                                        <h4>17000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('10', 'Nước Trái Cây Táo & Trà Đen Black Tea with Lemon Juice', 17000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agile_top_brands_grids top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">

                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/detail/11"><img src="/images/promotion_Nov2016_1000x1000_02_301016-02.jpg" alt=" " class="img-responsive img-product"/></a>
                                        <p class="name_product">Nước Socola Sữa Chocojoy</p>
                                        <h4>22000</h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <input ng-click="submitAddToCart('11', 'Nước Socola Sữa Chocojoy', 22000)" type="submit" value="Thêm vào giỏ" class="button" />
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <nav class="numbering">
            <ul class="pagination paging">
                <li>
                    <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                </li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                </li>
            </ul>
        </nav> -->
        <div class="clearfix"> </div>
    </div>
</div>