<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
		<h4 class="modal-title custom_align" id="Heading">{{data.title}}</h4>
	</div>
	<div class="modal-body">

		<div class="alert alert-success"><span class="fa fa-success"></span> {{data.message}}</div>

	</div>
	<div class="modal-footer ">
		<button type="button" class="btn btn-warning" ng-click="ok()" ><span class="fa fa-shopping-cart"></span> Đi đến giỏ hàng</button>
		<button type="button" class="btn btn-warning" ng-click="cancel()" ><span class="fa fa-fast-forward"></span> Tiếp tục mua hàng</button>
	</div>
</div>
<!-- /.modal-content -->